* {
    margin:0;
    padding:0
}


.login-table {

    width: 520px;
    color: #a2a2a2;
    margin: 18px auto 50px;
    padding: 3px 45px;
    background-color:#f7f6f6;
    border: 2px solid #d0d0d0;
    height: 300px;
}
.login-tab{
}

.login-header{
    text-align:center
}
.login-title{
    margin-top: 5em;
    font-size: 32px;
    color: #3c92c8;
    text-align:center
}
.title{
    font-weight: 400;
    text-align: left;
    color: #a2a2a2;
    font-size: 18px;
    padding:18px 0 6px 0;
}
 input.contact{
     font-size: 18px;
     width: 100%;
     height: 45px;
 }
 button.login-btn{
    width:100%;
     height: 45px;
     font-size: 18px ;
     margin-top: 31px;
 }
.account-content{
    text-align:center
}