
<div class="logo">
    <img src="../common/img/hatebook-logo.png" >
</div>
<div>
    <div class="login-title">
        <h1>Edit Profile</h1>
    </div>
    <div class="container login-tab">
        <div class="row row-content">
            <div class="login-table ">
                <form ng-submit="editUserInfo()" class="form-horizontal">
                    <div>
                        <label for="name" class="title">Name</label>
                        <input placeholder="Name" type="text" id="name" class="form-control contact" ng-model="userInfo.username">
                    </div>
                    <div>
                        <label for="hate" class="title">I hate</label>
                        <textarea placeholder="I hate..." type="text" id="hate" class="form-control contact" ng-model="userInfo.iHate" ></textarea>
                    </div>
                    <div>
                        <label for="Movies" class="title">Movies:</label>
                        <textarea placeholder="I hate next movies" type="text" id="Movies" class="form-control contact" ng-model="userInfo.hateMovies" ></textarea>
                    </div>
                    <div>
                        <label for="books" class="title">Books</label>
                        <textarea placeholder="I hate next books" type="text" id="books" class="form-control contact" ng-model="userInfo.hateBooks" ></textarea>
                    </div>
                    <div>
                        <label for="name" class="title">Avatar</label>
                        <input type="file" ngf-select ng-model="picFile" name="file"
                               accept="image/*">
                    </div>
                    <button  id="submit" name="submit" class="btn btn-primary login-btn" ng-click="uploadPic(picFile)">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

