<div class="logo">
    <img src="../common/img/hatebook-logo.png" >
</div>
<div>
    <div class="login-title">
        <h1>Log In</h1>
    </div>
    <div class="container login-tab">
        <div class="row row-content">
            <div class="login-table ">
                <form ng-submit="login()" class="form-horizontal">
                    <div>
                    <label for="login" class="title">Email address</label>
                    <input placeholder="email" type="text" id="login" class="form-control contact" ng-model="user.email">
                </div>
                    <div>
                        <label for="password" class="title">Password</label>
                        <input placeholder="password" type="text" id="password" class="form-control contact" ng-model="user.password" >
                    </div>
                    <span class="error-mess form-control" ng-show="isError"> Check this shit!!!</span>

                        <button  id="submit" name="submit" class="btn btn-primary login-btn">
                            Log In
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="account-content ">Don’t have an account?</div>
<div class="account-content">
    <span ng-click="goToLandingRegForm()" class="redirect">Create account</span>
</div>