<header class='header'>
    <img class='col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2' width="200px"  src="../common/img/oie_transparent.png" />
    <span class="right-header col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
        <img src="default-user-avatar.jpg"/>
        <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Settings
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="toEdit();">Edit</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </span>
    </span>
</header>
<div class="col-xs-7  enemies-table">
    <div class="row">
        <h1>Enemies</h1>
    </div>
    <div class="row enemies" ng-repeat="enemy in enemies">
        <div class="image-user">
    <a href=""><div ng-click="getAnotherUser(enemy._id)"><img ng-src="{{enemy.avatar}}"/></div></a>
        </div>
        <div class="info-haters">
            <p>{{enemy.username}}</p>
            <p>{{enemy.iHate}}</p>
        </div>
        <div class="get-poo" ng-click="getEnemies(enemy._id)">
            <img src="../common/img/Poomoji.png"/>
        </div>
    </div>
</div>