
header {
  background-color: #f5eee4;
  .logo-header {
    img {
      width: 200px;
    }
    h3 {
      font-family: 'Comic Sans MS';
    }
  }
  .right-header {
    text-align: right;
    .enemies-btn {
      margin-right: 20px;
    }
  }
}
.container-grid {
  padding-right: 15%;
  padding-left: 15%;
  .left-panel {
    height: 500px;
    background-color: #fff;
    .name, .enemy, .not-enemies, .enemies-count{
      text-align: center;
      margin-top: 20px;
    }
    .avatar {
      text-align: center;
      margin-top: 20px;
      height: 300px;
      @media(max-width: 991px) {
        height: 200px;
      }
    }
    .po-like {
      a {
        cursor: pointer;
      }
      img {
        width: 15%;
      }
    }
  }
  .right-panel {
    margin-left: 3.5%;
    height: 500px;
    background-color: #fff;
    text-align: center;
    .user-info{
      text-align: center;
      margin-top: 20px;
    }
  }
}