
header {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f5eee4;
  .logo-header {
    img {
      width: 200px;
    }
    h3 {
      font-family: 'Comic Sans MS';
    }
  }
  .right-header {
    text-align: right;
    img {
        width: 6%;
        border-radius: 28px;
      margin-right: 10px;
    }
    .dropdown {
      position: relative;
      li {
        cursor: pointer;
      }
    }
    .enemies-btn {
      margin-right: 20px;
    }
  }
}
.container-grid {
  margin-left: 12%;
  padding-right: 15%;
  padding-left: 15%;
  .left-panel {
    height: 440px;
    background-color: #fff;
    .name, .enemy, .not-enemies{
      text-align: center;
      margin-top: 20px;
    }
    .avatar {
      text-align: center;
      margin-top: 20px;
      height: 130px !important;
      @media(max-width: 991px) {
        height: 100px !important;
      }
    }
    .po-like {
      display: flex;
      a {
        cursor: pointer;
        text-decoration: none;
      }
      img {
        width: 100%;
      }
      span {
        font-size: 16px;
      }
      .enemies-count {
        margin-left: 50%;
        @media(min-width: 768px) and (max-width: 991px) {
          margin-left: 44%;
        }
        @media(max-width: 767px){
          margin-left: 33%;
        }
      }
    }
    .enemies-list {
      cursor: pointer;
      margin-top: 20px;
      border-radius: 1px;
      padding: 5px 0 5px 3px;
    }
    .not-enemies-list{
      cursor: pointer;
      margin-top: 10px;
      border-radius: 1px;
      padding: 5px 0 5px 3px;
    }
    .enemies-list:hover {
      text-decoration: none;
      background-color:  #f5eee4;
    }
    .not-enemies-list:hover {
      text-decoration: none;
      background-color:  #f5eee4;
    }
    a {
      color: #000;
    }
    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .right-panel {
    margin-left: 3.5%;
    background-color: #fff;
    text-align: center;
    .user-info{
      height: 200px;
      text-align: center;
      margin-top: 20px;
      h5 {
        font-weight: 500;
        display: inline-block;
        text-align: left;
      }
      .hate-movies,.hate-books,.hates {
        word-break: break-all;
        text-align: left;
      }
    }
  }

  .posts,.new-posts {
    margin-left: 3.5%;
    background-color: #fff;
    margin-top: 20px;
    height: 200px;
    textarea {
      margin-top: 10px;
      resize: none;
      height: 150px;
      border-radius: 4px;
      width: 100%;
    }
    button {
      float: right;
    }
    .posts-text {
      word-break: break-all;
      margin-top: 10px;
    }
    .po-like-posts {
      text-align:right;
      img {
        width: 9%;
      }
    }
  }
    .new-posts {
     margin-left: 28.5%;
      height: auto;
      img {
        width: 15%;
      }
    }
}
