header {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f5eee4; }
  header .logo-header img {
    width: 200px; }
  header .logo-header h3 {
    font-family: 'Comic Sans MS'; }
  header .right-header {
    text-align: right; }
    header .right-header img {
      width: 6%;
      border-radius: 28px;
      margin-right: 10px; }
    header .right-header .dropdown {
      position: relative; }
      header .right-header .dropdown li {
        cursor: pointer; }
    header .right-header .enemies-btn {
      margin-right: 20px; }

.container-grid {
  margin-left: 12%;
  padding-right: 15%;
  padding-left: 15%; }
  .container-grid .left-panel {
    height: 440px;
    background-color: #fff; }
    .container-grid .left-panel .soap {
      cursor: pointer;
      position: relative;
      left: 88%;
      width: 20%; }
      @media (min-width: 1200px) {
        .container-grid .left-panel .soap {
          width: 15%; } }
    .container-grid .left-panel .name, .container-grid .left-panel .enemy, .container-grid .left-panel .not-enemies {
      text-align: center;
      margin-top: 20px; }
    .container-grid .left-panel .avatar {
      text-align: center;
      height: auto !important;
      margin-top: 10px; }
    .container-grid .left-panel .poo-div {
      position: absolute;
      top: 0;
      opacity: 0.1;
      background-color: #f0ad4e; }
    .container-grid .left-panel .po-like {
      margin-top: 15px;
      font-size: 18px;
      display: flex; }
      .container-grid .left-panel .po-like a {
        cursor: pointer;
        text-decoration: none; }
      .container-grid .left-panel .po-like img {
        width: 100%; }
      .container-grid .left-panel .po-like .po {
        padding-top: 2px; }
      .container-grid .left-panel .po-like span {
        font-size: 18px;
        margin-left: 3px; }
      .container-grid .left-panel .po-like .enemies-count {
        margin-left: 40%; }
        .container-grid .left-panel .po-like .enemies-count img {
          width: 39%; }
        @media (min-width: 768px) and (max-width: 991px) {
          .container-grid .left-panel .po-like .enemies-count {
            margin-left: 35%; } }
        @media (max-width: 767px) {
          .container-grid .left-panel .po-like .enemies-count {
            margin-left: 33%; } }
    .container-grid .left-panel .enemies-list {
      cursor: pointer;
      margin-top: 20px;
      border-radius: 1px;
      padding: 5px 0 5px 3px; }
    .container-grid .left-panel .not-enemies-list {
      cursor: pointer;
      margin-top: 10px;
      border-radius: 1px;
      padding: 5px 0 5px 3px; }
    .container-grid .left-panel .enemies-list:hover {
      text-decoration: none;
      background-color: #f5eee4; }
    .container-grid .left-panel .not-enemies-list:hover {
      text-decoration: none;
      background-color: #f5eee4; }
    .container-grid .left-panel a {
      color: #000; }
    .container-grid .left-panel a:hover {
      color: #000;
      text-decoration: none; }
  .container-grid .right-panel {
    margin-left: 3.5%;
    background-color: #fff;
    text-align: center; }
    .container-grid .right-panel .user-info {
      height: 200px;
      text-align: center;
      margin-top: 20px; }
      .container-grid .right-panel .user-info h5 {
        font-weight: 500;
        display: inline-block;
        text-align: left; }
      .container-grid .right-panel .user-info .hate-movies, .container-grid .right-panel .user-info .hate-books, .container-grid .right-panel .user-info .hates {
        word-break: break-all;
        text-align: left; }
  .container-grid .posts, .container-grid .new-posts {
    margin-left: 3.5%;
    background-color: #fff;
    margin-top: 20px;
    height: 200px; }
    .container-grid .posts textarea, .container-grid .new-posts textarea {
      margin-top: 10px;
      resize: none;
      height: 150px;
      border-radius: 4px;
      width: 100%; }
    .container-grid .posts button, .container-grid .new-posts button {
      float: right; }
    .container-grid .posts .posts-text, .container-grid .new-posts .posts-text {
      word-break: break-all;
      margin-top: 10px;
      width: 74%;
      height: 100px;
      overflow: hidden;
      padding-top: 10px;
      padding-left: 25px;
      border: none;
      pointer-events: none; }
    .container-grid .posts .po-like-posts, .container-grid .new-posts .po-like-posts {
      margin-top: 5px;
      text-align: right; }
      .container-grid .posts .po-like-posts img, .container-grid .new-posts .po-like-posts img {
        margin: 0;
        width: 9%; }
  .container-grid .new-posts {
    word-break: break-all;
    margin-left: 28.5%;
    height: auto; }
    .container-grid .new-posts .flex-group {
      display: flex; }
      .container-grid .new-posts .flex-group .avatar-group {
        width: 30%; }
        .container-grid .new-posts .flex-group .avatar-group div {
          text-align: center; }
    .container-grid .new-posts img {
      width: 70%;
      margin-top: 10px;
      margin-left: 10px; }

/*# sourceMappingURL=user.css.map */
